<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.EventPropertiesFormaters"/>
  </extensions>
  
  <targets>
    <target xsi:type="File" name="fileTarget" createDirs="true" fileName="${basedir}\${level}-${shortdate}.log.json">
      <layout xsi:type="JsonLayout">
        <attribute name="date" layout="${longdate}"/>
        <attribute name="level" layout="${lowercase:${level}}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${exception:separator= \n :format=Message,ShortType,Method,StackTrace,Data:innerFormat=Message,ShortType,Method,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator= | }"/>
        <attribute name="extraData" layout="${all-event-properties-json}" encode="false"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget"/>
  </rules>
</nlog>